.botao-acao {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.botao-acao:hover{
  cursor: pointer;
}

.container-botoes-acao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}